body {
    background-color: #fff1e0;
    color: rgb(0, 0, 0);
}

form {
    width: 800px;
    margin: auto;
    background-color: #f5be48;
    border-radius: 20px;
    padding: 20px 30px;
}

textarea {
    resize: none;
}

#genders {
    display: flex;
    align-items: center;
    gap: 10px;
}

#input-hobby {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
